a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover{
    color: #EAF6F6
}

.contact-me{
    margin: 30px auto 50px auto;
}

body{
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

p{
    line-height: 2;
}

h1{
    color: #66BFBF;
    font-family: 'Sacramento', cursive;
    font-size: 5rem;
    margin: 30px auto 0 auto;
    line-height: 2;
}

h2{
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 10px;
}

h3{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

.top-container{
    background-color: #EAF6F6;
    padding-top: 100px;
    position: relative;
}

.middle-container{
    margin: 80px auto;
}

.bottom-container{
    background-color: #66BFBF;
    color: #EAF6F6;
    padding: 20px;
}

hr{
    border-style: dotted none none none;
    border-width: 10px;
    color: #EAF6F6;
    width: 15%;
    margin: 100px auto;
}

.skill-row{
    margin: 50px auto;
    text-align: left;
    width: 50%;
}

.pro{
    text-decoration: underline;
}

.intro{
    margin: auto;
    width: 50%;
}

.outro{
    margin: 40px auto 60px;
}

.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 40px;
}

.bottom-cloud{
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.me-pic{
    border: none;
    width: 15%;

}

.scientist-pic{
    border: none;
    width: 20%;
    float: left;
    margin-right: 30px;
}

.python-img{
    border: none;
    width: 20%;
    float: right;
    margin-left: 30px;
}

.html5-img{
    border: none;
    width: 20%;
    float: left;
    margin-right: 30px;
}

.css-img{
    border: none;
    width: 20%;
    float: left;
    margin-right: 30px;
}

.btn {
  line-height: 3;
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}